

.cadastrar a{
    color: #707070;
    display: block;
    margin-bottom: 2%;
    font-size: .9em;
}
.cadastrar h1{
    font-size: 1.1em;
    color: #707070;
    display: block;
    margin-bottom: 2%;
}